{% extends "calendar/calendar_list.html" %}
{% block title %}{{ calendar.name }} - {{ block.super }}{% endblock %}

{% block primary %}
  <h1>{{ calendar.name }}</h1>
  <p>{{ calendar.description }}</p>

  {% if occurrences %}
  <h2>Occurrences</h2>
  <ul>
    {% for occurrence in occurrences %}
    <li{% if occurrence.is_cancelled %} class="cancelled"{% endif %}><a href="{{ occurrence.get_absolute_url }}">{{ occurrence }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if can_edit_calendars %}
  <h3>Edit calendar Details</h3>
  <form action="" method="post">{% csrf_token %}
    <table>
      <tfoot>
        <tr>
          <td colspan="2">
            <input type="submit" name="_update" value="Update" />
          </td>
        </tr>
      </tfoot>
      <tbody>
        {{ calendar_form.as_table }}
      </tbody>
    </table>
  </form>
  {% endif %}

  {% if can_add_occurrences %}
  <h3>Add Occurrences</h3>
  <form action="" method="post">{% csrf_token %}
    <table>
      <tfoot>
        <tr>
          <td colspan="2"><input type="submit" name="_add" value="Add" /></td>
        </tr>
      </tfoot>
      <tbody>
        {% include "calendar/includes/recurring_form.html" %}
      </tbody>
    </table>
  </form>
  {% endif %}
{% endblock %}
