{% extends "base.html" %}
{% load math %}

{% block title %}Day View{% endblock %}
{% block extra_head %}
  <style type="text/css" media="screen">
    .day-view-1 {float: left;}
  </style>
{% endblock %}

{% block primary %}
<h3>Day View</h3>

<p>Switch to
  <a href="{% url day-agenda calendar.slug day.year day.get_month.abbr day.number %}">
    agenda view
  </a>.
</p>

<h4>
  <a href="{% url day-calendar calendar.slug day.previous.year day.previous.get_month.abbr day.previous.number %}"
    title="Previous Day">&larr;</a>
  <a title="View {{ day|date:"l, jS F, Y"}}" href="{% url day-calendar calendar.slug day.year day.get_month.abbr day.number %}">
  {{ day|date:"l jS" }}</a>
  <a title="View {{ day|date:"F, Y"}}" href="{% url month-calendar calendar.slug day.year day.get_month.abbr %}">
    {{ day|date:"F" }}</a>
  <a title="View {{ day.year}}" href="{% url year-calendar calendar.slug day.year %}">
    {{ day|date:"Y" }}</a>
  <a href="{% url day-calendar calendar.slug day.next.year day.next.get_month.abbr day.next.number %}"
    title="Next Day">&rarr;</a>
</h4>

{% with day.intervals as intervals %}
{% for column in intervals|columns:2 %}
<table class="day-view-{{ forloop.counter }}">
  {% for cell in column %}
  <tbody>
      <tr>
        <td>{{ cell.start|time:"h:i:s" }}</td>
        <td>
          {% if cell.occurrences %}
          <ul>
            {% for occurrence in cell.occurrences %}
            <li>
              <a class="{% if occurrence.is_cancelled %}cancelled{% endif %}"
                 href="{{ occurrence.get_absolute_url }}">
                 {{ occurrence.event.name }}
               </a>
            <span class="event_times">{{ occurrence.start|time }}</span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </td>
      </tr>
  </tbody>
  {% endfor %}
</table>
{% endfor %}
{% endwith %}
{% endblock %}
