{% extends "calendar/base.html" %}
{% block title %}Events - {{ block.super }}{% endblock %}

{% block primary %}
  <h1>Events</h1>

  <ul class="event-list">
  {% for event in object_list %}
    <li>
      <ul>
        <li>
          <strong>
            <a class="name {{ event.status_slug }}"
               href="{{ event.get_absolute_url }}">
              {{ event.name }}
            </a>
          </strong>
        </li>
        <li class="description">{{ event.description }}</li>
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock primary %}
