{% extends "base.html" %}
{% load i18n %}
{% load calendartools_tags %}
{% block title %}Monthly View - {{ calendar.name }} Calendar - {{ block.super }}{% endblock %}
{% block extra_head %}
  <style type="text/css" media="screen">
    ul#calendar-nav li {display: inline; list-style: none;}
    td.day.name {width: 120px;}
    td.month-cell {vertical-align: top;}
    table#year-calendar {text-align: center;}
  </style>
{% endblock %}

{% block primary %}
<h3>Monthly View - <span class="calendarname">{{ calendar.name }}</span> Calendar</h3>

<p class="toggle-agenda">Switch to
  <a href="{% url month-agenda calendar.slug month.year month.abbr %}">
    agenda view
  </a>.
</p>

<ul id="calendar-nav" class="nav">
  <li>
    <a rel="{% if month.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       {% if small %}
       href="{% url small-month-calendar calendar.slug month.previous.year month.previous.abbr %}"
       {% else %}
       href="{% url month-calendar calendar.slug month.previous.year month.previous.abbr %}"
       {% endif %}
       title="{% trans "Last Month" %}">&larr;
    </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ month.name }}"
       {% if small %}
       href="{% url small-month-calendar calendar.slug month.year month.abbr %}">
       {% else %}
       href="{% url month-calendar calendar.slug month.year month.abbr %}">
       {% endif %}
       {{ month|date:"F" }}
     </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ month.year }}"
       href="{% url year-calendar calendar.slug month.year %}">
       {{ month|date:"Y" }}
    </a>
  </li>
  <li>
    <a rel="{% if month.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
       {% if small %}
       href="{% url small-month-calendar calendar.slug month.next.year month.next.abbr %}"
       {% else %}
       href="{% url month-calendar calendar.slug month.next.year month.next.abbr %}"
       {% endif %}
       title="{% trans "Next Month" %}">&rarr;
    </a>
  </li>
</ul>

<div class="tablewrapper">
  <table class="month calendar {{ size|default:"medium" }}">
  {% include "calendar/includes/month_calendar.html" %}
  </table>
</div>

<div class="navigation">
  <a href="{% url month-calendar calendar.slug today.year today|date:"b" %}">
    Current Month Calendar
  </a>
  <a href="{% url year-calendar calendar.slug today.year %}">
    Current Year Calendar
  </a>
</div>

{% endblock %}
