{% extends "base.html" %}
{% block title %}Tri Monthly View{% endblock %}
{% block primary %}
<h3>Tri Monthly View</h3>

<p>Switch to
  <a href="{% url month-agenda tri_month.second_month.year tri_month.second_month.abbr %}">
    agenda view
  </a>.
</p>

<h4>
  <a href="{% url tri-month-calendar tri_month.first_month.year tri_month.first_month.abbr %}"
    title="Previous 3 Months">&larr;</a>
  <a title="View {{ tri_month.second_month.name}}" href="{% url tri-month-calendar tri_month.second_month.year tri_month.second_month.abbr %}">
    {{ tri_month.second_month|date:"F" }}</a>
  <a title="View {{ tri_month.second_month.year}}" href="{% url year-calendar tri_month.year %}">
    {{ tri_month.second_month|date:"Y" }}</a>
  <a href="{% url tri-month-calendar tri_month.third_month.year tri_month.third_month.abbr %}"
    title="Next 3 Months">&rarr;</a>
</h4>

{% for month in tri_month %}
{% if forloop.counter == 2 %}
<h2>{{ month|date:"F, Y" }}</h2>
{% endif %}
<table class="tri-month-view">
  <thead>
    <tr>
      {% for dayname in month.day_names %}
      <th>{{ dayname }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in month.calendar_display %}
      <tr>
        {% for day in row  %}
        <td{% if day == today %} class="today"{% endif %}>
          {% if day %}
          <div class="day-ordinal">
            <a href="{% url day-calendar day.year month.abbr day.number %}">{{ day.number }}</a>
          </div>
          {% if day.occurrences %}
          <ul>
            {% for occurrence in day.occurrences %}
            <li>
              <a class="{% if occurrence.is_cancelled %}cancelled{% endif %}"
                 href="{{ occurrence.get_absolute_url }}">
                 {{ occurrence.event.name }}
               </a>
            <span class="event_times">{{ occurrence.start|time }}</span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}


