{% extends "base.html" %}
{% block primary %}
<h3>Week View</h3>

<p>Switch to
  <a href="{% url week-agenda calendar.slug week.year week.get_month.abbr week.day %}">
    agenda view
  </a>.
</p>

<h4>
  <a href="{% url week-calendar calendar.slug week.previous.year week.previous.get_month.abbr week.previous.day %}"
    title="Previous Week">&larr;</a>
  <a title="View {{ week|date:"l, jS F, Y"}}" href="{% url day-calendar calendar.slug week.year week.get_month.abbr week.start.day %}">
  {{ week|date:"l jS" }}</a>
  <a title="View {{ week.get_month.name }}" href="{% url month-calendar calendar.slug week.year week.get_month.abbr %}">
    {{ week|date:"F" }}</a>
  <a title="View {{ month.year}}" href="{% url year-calendar calendar.slug week.year %}">
    {{ week|date:"Y" }}</a>
  -
  <a title="View {{ week.last_day|date:"l, jS F, Y"}}" href="{% url day-calendar calendar.slug week.last_day.year week.last_day.abbr week.last_day.number %}">
  {{ week.last_day|date:"l jS" }}</a>
  <a title="View {{ week.last_day.get_month.name }}" href="{% url month-calendar calendar.slug week.last_day.year week.last_day.get_month.abbr %}">
    {{ week.last_day|date:"F" }}</a>
  <a title="View {{ week.last_day.year }}" href="{% url year-calendar calendar.slug week.last_day.year %}">
    {{ week.last_day|date:"Y" }}</a>
  <a href="{% url week-calendar calendar.slug week.next.year week.next.get_month.abbr week.next.day %}"
    title="Next Week">&rarr;</a>
</h4>

<table class="week-view">
  <thead>
    <tr>
      <th>&nbsp;</th>
      {% for day in week.days %}
      <th {% if day == today %}class="today"{% endif %}>
        <a href="{% url day-calendar calendar.slug day.year day.get_month.abbr day.number %}">
          {{ day.name }} {{ day|date:"jS" }}
        </a>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
      {% for row in week.calendar_display %}
      <tr>
        {% for cell in row %}
        {% if forloop.first %}
        <td>{{ cell|time }}</td>
        {% endif %}
        <td>
          {% if cell.occurrences %}
          <ul>
            {% for occurrence in cell.occurrences %}
            <li>
              <a class="{{ occurrence.status_slug }}"
                 href="{{ occurrence.get_absolute_url }}">
                 {{ occurrence.event.name }}
               </a>
            <span class="event_times">{{ occurrence.start|time }}</span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>

<div class="navigation">
  <a href="{% url month-calendar calendar.slug today.year today|date:"b" %}">
    Month
  </a>
  <a href="{% url year-calendar calendar.slug today.year %}">
    Year
  </a>
</div>

<div class="tablewrapper">
    <div class="calendarname">{{ calendar.name }}</div>

    <div class="now">
      <a href="{% url week-calendar calendar.slug today.year today|date:"b" today.day %}">
        This week
      </a>
    </div>
</div>
{% endblock %}
