{% extends "base.html" %}
{% load i18n %}
{% load calendartools_tags %}
{% block title %}Yearly Agenda - {{ calendar.name }} Calendar - {{ block.super }}{% endblock %}
{% block extra_head %}
  <style type="text/css" media="screen">
    ul#calendar-nav li, ul.filters li {display: inline; list-style: none;}
    .vevent abbr {border:0} /* No borders on microformat markup */
  </style>
{% endblock %}

{% block primary %}
{% block heading %}
<h3>{% trans "Yearly Agenda" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

<p class="toggle-calendar">{% trans "Switch to" %}
<a href="{% block calendar_url %}{% url year-calendar calendar.slug year.number %}{% endblock %}">
    {% trans "calendar view" %}
  </a>.
</p>

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li>
    <a rel="{% if year.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       href="{% url year-agenda calendar.slug year.previous.number %}"
       title="{% trans "Last Year" %}">&larr;
    </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ year }}"
       href="{% url year-agenda calendar.slug year.number %}">
      {{ year|date:"Y" }}
    </a>
  </li>
  <li>
    <a rel="{% if year.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
       href="{% url year-agenda calendar.slug year.next.number %}"
       title="{% trans "Next Year" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}

{% block filters %}
{% with request.get_full_path as here %}
{% with here|get_query_string:"period" as period %}
<ul class="filters">
  <li><a class="{% if "past" in period %}on{% endif %}"
         href="{{ here|set_query_string:"period,past" }}">past</a></li>
  <li><a class="{% if "future" in here|get_query_string:"period" %}on{% endif %}"
         href="{{ here|set_query_string:"period,future" }}">future</a></li>
  <li><a class="{% if "today" in here|get_query_string:"period" %}on{% endif %}"
         href="{{ here|set_query_string:"period,today" }}">today</a></li>
  <li><a class="{% if "all" in period %}on{% endif %}"
         href="{{ here|delete_query_string:"period" }}">all</a></li>
</ul>
{% endwith %}
{% endwith %}
{% endblock %}

{% block agenda %}
{% if not year.occurrences %}
<p class="no-events">{% trans "No events occurring in" %} {{ year }}</p>
{% else %}

{% block follow_utils %}
<ul class="follow utils">
  <li>
  <a class="feed" href="http://feeds.technorati.com/events/{{ current_site.domain }}{{ request.get_full_path }}">
      Add Events to Calendar
    </a>
  </li>
  <li>
  <a class="subscribe" href="webcal://feeds.technorati.com/events/{{ current_site.domain }}{{ request.get_full_path }}">
      Subscribe to Events
    </a>
  </li>
</ul>
{% endblock %}

<table class="year-agenda">
  <caption>
    <span class="year start">{{ year.start|date:"DATE_FORMAT" }}</span>
    -
    <span class="year finish">{{ year.finish|date:"DATE_FORMAT" }}</span>
  </caption>

  <colgroup>
    <col class="month" />
    <col class="title alt" />
    <col class="day" />
    <col class="start alt" />
    <col class="end" />
  </colgroup>

  <thead>
    <tr>
      <th>{% trans "Month" %}</th>
      <th>{% trans "Day" %}</th>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for month in year.months %}
      {% if month.occurrences %}
        <tr class="month-divider {{ month.abbr|notrans }} vevent">
          <th rowspan="{{ month.occurrences|length }}">
            <a href="{% url month-agenda calendar.slug month.year month.abbr %}">
              {{ month.name }}
            </a>
          </th>
        {% for o in month.occurrences %}
          <td class="start date">
            <a href="{% url day-agenda calendar.slug o.start.year o.start|date:"b" o.start.day %}">
              {{ o.start|date:"DATE_FORMAT" }}
            </a>
          </td>
          <td class="summary">
            <a class="{{ o.status_slug }} summary url"
              href="{{ o.get_absolute_url }}">
              <span class="name">{{ o.name }}</span>
            </a>
          </td>
          <td class="start time">
            <abbr class="dtstart" title="{{ o.start|date:"c" }}">
              {{ o.start|date:"TIME_FORMAT" }}
            </abbr>
          </td>
          <td class="finish time">
            <abbr class="dtend" title="{{ o.finish|date:"c" }}">
              {{ o.finish|date:"TIME_FORMAT" }}
            </abbr>
          </td>
        </tr>
          {% if not forloop.last %}
        <tr class="{{ month.abbr|notrans }} vevent">
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

{% endblock %}
