{% extends "base.html" %}
{% load i18n %}
{% load calendartools_tags %}
{% block title %}Yearly View - {{ calendar.name }} Calendar - {{ block.super }}{% endblock %}
{% block extra_head %}
  <style type="text/css" media="screen">
    ul#calendar-nav li {display: inline; list-style: none;}
    td.day.name {width: 120px;}
    td.month-cell {vertical-align: top;}
    table#year-calendar {text-align: center;}
  </style>
{% endblock %}

{% block primary %}
<h3>Yearly View - <span class="calendarname">{{ calendar.name }}</span> Calendar</h3>

<p class="toggle-agenda">Switch to
  <a href="{% url year-agenda calendar.slug year.number %}">
    agenda view
  </a>.
</p>

<ul id="calendar-nav" class="nav">
  <li>
    <a rel="{% if year.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       href="{% url year-calendar calendar.slug year.previous.number %}"
       title="{% trans "Last Year" %}">&larr;
    </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ year }}"
       href="{% url year-calendar calendar.slug year.number %}">
      {{ year|date:"Y" }}
    </a>
  </li>
  <li>
    <a rel="{% if year.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
       href="{% url year-calendar calendar.slug year.next.number %}"
       title="{% trans "Next Year" %}">&rarr;
    </a>
  </li>
</ul>

<div class="tablewrapper">
  <table id="year-calendar" class="year calendar">
    <tr>
      {% for month in year.months %}
      <td class="month-cell">
        <a class="month name" href="{% url month-calendar calendar.slug month.year month.abbr %}">
          <span>{{ month.name }}</span>
        </a>

        <!-- Month Calendar -->
        <table class="month calendar calendar-{{ forloop.counter }} {% cycle "" "alt" %}">
          <caption>
            <span class="month start">{{ month.start|date:"DATE_FORMAT" }}</span>
            -
            <span class="month finish">{{ month.finish|date:"DATE_FORMAT" }}</span>
          </caption>

          <colgroup>
            {% for dayname in month.day_names %}
            <col class="{{ dayname|slugify }}{% cycle "" " alt" %}" />
            {% endfor %}
          </colgroup>

          <thead>
            <tr class="daysofweek">
              <td>&nbsp;</td>
              {% for dayname in month.day_names %}
              <th class="day name {{ dayname|slugify }}">{{ dayname }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for week in month.weeks %}
            <tr class="{% cycle "" "alt" %}">
              <td>
                <a class="week-number" href="{% url week-calendar calendar.slug week.year week.number %}">
                  {{week.start|date:"W"}}
                </a>
              </td>
              {% for day in week.days %}
              {% if day.month != month.number %}
              <td class="day-cell {{ size|default:"medium" }} noday"></td>
              {% else %}
              {% if day.occurrences %}
              <td class="day-cell {{ size|default:"medium" }} busy
              {% else %}
              <td class="day-cell {{ size|default:"medium" }} free
              {% endif %}
              {% if day == today %}today">{% else %}">{% endif %}
              <div class="header">
                <a href="{% url day-calendar calendar.slug day.year day.get_month.abbr day.number %}">
                  <span class="day-number">{{ day.number }}</span>
                </a>
              </div>
                  {% comment %}
                  <div class="daycell">
                    {% for o in day.occurrences %}
                    <div class="eventcell eventcell{{o.class}}{% if o.is_cancelled %} cancelled{% endif %}"
                      href="#{# {% hash_occurrence o.occurrence %} #}" onclick="openDetail(this);">
                      <div class="starttime">
                        {% ifequal o.class 0 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                        {% ifequal o.class 1 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                        {% ifequal o.class 2 %}(All day){% endifequal %}
                        {% ifequal o.class 3 %}Ends at {{ o.occurrence.end|time:"G:i" }}{% endifequal %}
                      </div>
                      <div class="eventdesc">
                        <span class="name">{{ o.name }}</span>
                      </div>
                    </div>
                    <div id="{# {% hash_occurrence o.occurrence %} #}" style="display:none;">
                      <div class="detail">
                        <h2 align="center">{{ o.name }}</h2>
                        <table align="center">
                          <tr>
                            <td class="left">Starts</td>
                            <td>{% blocktrans with o.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
                          </tr>
                          <tr>
                            <td class="left">Ends</td>
                            <td>{% blocktrans with o.finish|date:_("DATETIME_FORMAT") as finish_date %}{{ finish_date }}{% endblocktrans %}</td>
                          </tr>
                          {#
                          {% if o.event.rule %}
                          {% if not occurrence.id %}
                          <tr>
                            <td class="left">Reoccurs</td><td>{{occurrence.event.rule}}</td>
                          </tr>
                          {% if o.event.end_recurring_period %}
                          <tr>
                            <td class="left">Until</td>
                            <td>{% blocktrans with occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
                          </tr>
                          {% endif %}
                          {% endif %}
                          {% endif %}
                          #}
                        </table>
                        {% if o.description %}
                        <h3>Description</h3>
                        <p>{{ o.description }}</p>
                        {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  {% endcomment %}
              </td>
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
      {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 %}
    </tr>
    <tr>
    {% endif %}
    {% endfor %}
    </tr>
  </table>
</div>

<div class="navigation">
  <a href="{% url month-calendar calendar.slug today.year today|date:"b" %}">
    Current Month Calendar
  </a>
  <a href="{% url year-calendar calendar.slug today.year %}">
    Current Year Calendar
  </a>
</div>
{% endblock %}
