{% extends "base.html" %}
{% load i18n %}
{% load calendartools_tags %}
{% block extra_head %}
  <style type="text/css" media="screen">
    ul#calendar-nav li, ul.filters li {display: inline; list-style: none;}
    .vevent abbr {border:0} /* No borders on microformat markup */
    td.day.name {width: 120px;}
    td.month-cell {vertical-align: top;}
    table#year-calendar {text-align: center;}
    table.day.calendar td {vertical-align: top;}
  </style>
{% endblock %}

{% block primary %}
{% block heading %}{% endblock %}

<p class="toggle-agenda">{% trans "Switch to" %}
<a href="{% block agenda_url %}{% endblock %}">
    {% trans "agenda view" %}
  </a>.
</p>

{% block calendar_nav %}
{% endblock %}

{% block current_nav %}
<ul class="current nav">
  <li><a href="{% url week-calendar calendar.slug today.year today.get_week.number %}">
    {% trans "Current Week Calendar" %}
  </a></li>
  <li><a href="{% url month-calendar calendar.slug today.year today|date:"b" %}">
    {% trans "Current Month Calendar" %}
  </a></li>
  <li><a href="{% url year-calendar calendar.slug today.year %}">
    {% trans "Current Year Calendar" %}
  </a></li>
</ul>
{% endblock %}

{% block filters %}
{% include "calendar/includes/filters.html" %}
{% endblock %}

{% block calendar %}
{% endblock %}

{% endblock %}
