{% extends "calendar/calendar/base.html" %}
{% load i18n %}
{% block title %}Monthly View - {{ calendar.name }} Calendar - {{ block.super }}{% endblock %}

{% block heading %}
<h3>{% trans "Monthly View" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block agenda_url %}{% url month-agenda calendar.slug month.year month.abbr %}{% endblock %}

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li>
    <a rel="{% if month.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       {% if small %}
       href="{% url small-month-calendar calendar.slug month.previous.year month.previous.abbr %}"
       {% else %}
       href="{% url month-calendar calendar.slug month.previous.year month.previous.abbr %}"
       {% endif %}
       title="{% trans "Last Month" %}">&larr;
    </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ month.name }}"
       {% if small %}
       href="{% url small-month-calendar calendar.slug month.year month.abbr %}">
       {% else %}
       href="{% url month-calendar calendar.slug month.year month.abbr %}">
       {% endif %}
       {{ month|date:"F" }}
     </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ month.year }}"
       href="{% url year-calendar calendar.slug month.year %}">
       {{ month|date:"Y" }}
    </a>
  </li>
  <li>
    <a rel="{% if month.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
       {% if small %}
       href="{% url small-month-calendar calendar.slug month.next.year month.next.abbr %}"
       {% else %}
       href="{% url month-calendar calendar.slug month.next.year month.next.abbr %}"
       {% endif %}
       title="{% trans "Next Month" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}

{% block calendar %}
<div class="tablewrapper">
  <table class="month calendar {{ size|default:"medium" }}">
  {% include "calendar/includes/month_calendar.html" %}
  </table>
</div>
{% endblock %}
