{% extends "calendar/calendar/base.html" %}
{% load i18n %}
{% load calendartools_tags %}

{% block title %}
  {{ month.name }} {{ month.year }} - Monthly View - {{ block.super }}
{% endblock %}

{% block heading %}
<h3>{% trans "Monthly View" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block agenda_url %}
{% url month-agenda calendar.slug month.year month.abbr as agenda_url %}
{{ agenda_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block current_nav_url %}
{% url month-calendar calendar.slug today.year today.get_month.abbr as current_nav_url%}
{{ current_nav_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block calendar_nav %}
{% include "calendar/includes/navigation/month.html" with view_type="calendar" %}
{% endblock %}

{% block calendar %}
<div class="tablewrapper">
  <table class="month calendar {{ size|default:"medium" }}">
  {% include "calendar/includes/month_calendar.html" %}
  </table>
</div>
{% endblock %}
