{% extends "calendar/calendar/base.html" %}
{% load calendartools_tags %}
{% load i18n %}

{% block title %}
{% with tri_month.first_month as first_month %}
{% with tri_month.third_month as third_month %}

  {{ first_month.name }} {{ first_month.year }} &mdash;
  {{ third_month.name }} {{ third_month.year }} -
  Tri-Monthly View - {{ block.super }}

{% endwith %}
{% endwith %}
{% endblock %}

{% block heading %}
<h3>{% trans "Tri-Monthly View" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block agenda_url %}
{% url tri-month-agenda calendar.slug tri_month.second_month.year tri_month.second_month.abbr as agenda_url %}
{{ agenda_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block current_nav_url %}
{% url tri-month-calendar calendar.slug today.year today.get_month.abbr as current_nav_url %}
{{ current_nav_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block calendar_nav %}
{% include "calendar/includes/navigation/tri_month.html" with view_type="calendar" %}
{% endblock %}

{% block calendar %}
<div class="tablewrapper">
  <table id="tri-month-calendar" class="calendar">
    <tr>
      {% for month in tri_month %}
      <td class="month-cell">
        <a class="month name month{{ forloop.counter }}"
           href="{% url month-calendar calendar.slug month.year month.abbr %}">
          <span>{{ month.name }}</span>
        </a>
        <table class="tri-month-view month calendar small calendar-{{ forloop.counter }} {% cycle "" "alt" %}">
          {% include "calendar/includes/month_calendar.html" %}
        </table>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
