{% extends "calendar/calendar/base.html" %}
{% load i18n %}
{% block title %}Tri-Monthly View - {{ calendar.name }} Calendar - {{ block.super }}{% endblock %}
{% block heading %}
<h3>{% trans "Tri-Monthly View" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block agenda_url %}{% url tri-month-agenda calendar.slug tri_month.second_month.year tri_month.second_month.abbr %}{% endblock %}
{% block current_nav_url %}{% url tri-month-calendar calendar.slug today.year today.get_month.abbr %}{% endblock %}

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li>
    <a rel="{% if tri_month.first_month < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       href="{% url tri-month-calendar calendar.slug tri_month.first_month.year tri_month.first_month.abbr %}"
       title="{% trans "Previous 3 Months" %}">&larr;
    </a>
  </li>
  {% for month in tri_month %}
  <li>
    <a title="{% trans "View" %} {{ month.name }}"
       href="{% url tri-month-calendar calendar.slug month.year month.abbr %}">
       {{ month|date:"F" }}
     </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ month.year }}"
       href="{% url year-calendar calendar.slug month.year %}">
       {{ month|date:"Y" }}{% if not forloop.last %},&nbsp;{% endif %}
    </a>
  </li>
  {% endfor %}
  <li>
    <a rel="{% if tri_month.third_month > latest_occurrence %}nofollow{% else %}next{% endif %}"
       href="{% url tri-month-calendar calendar.slug tri_month.third_month.year tri_month.third_month.abbr %}"
       title="{% trans "Next 3 Months" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}

{% block calendar %}
<div class="tablewrapper">
  <table id="tri-month-calendar" class="calendar">
    <tr>
      {% for month in tri_month %}
      <td class="month-cell">
        <a class="month name" href="{% url month-calendar calendar.slug month.year month.abbr %}">
          {% if forloop.counter == 2 %}
          <span>{{ month.name }}</span>
          {% endif %}
        </a>
        <table class="tri-month-view month calendar small calendar-{{ forloop.counter }} {% cycle "" "alt" %}">
          {% include "calendar/includes/month_calendar.html" %}
        </table>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
