{% extends "calendar/calendar/base.html" %}
{% load calendartools_tags %}
{% load i18n %}

{% block title %}
{% with tri_month.first_month as first_month %}
{% with tri_month.third_month as third_month %}

  {{ first_month.name }} {{ first_month.year }} &mdash;
  {{ third_month.name }} {{ third_month.year }} -
  Tri-Monthly View - {{ block.super }}

{% endwith %}
{% endwith %}
{% endblock %}

{% block heading %}
<h3>{% trans "Tri-Monthly View" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block agenda_url %}{% url tri-month-agenda calendar.slug tri_month.second_month.year tri_month.second_month.abbr %}{% endblock %}
{% block current_nav_url %}{% url tri-month-calendar calendar.slug today.year today.get_month.abbr %}{% endblock %}

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li class="first">
    <a rel="{% if tri_month.first_month < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
      {% url tri-month-calendar calendar.slug tri_month.first_month.year tri_month.first_month.abbr as previous_url %}
      href="{{ previous_url|persist_query_string }}"
      title="{% trans "Previous Month" %}">&larr;
    </a>
  </li>
  <li>
    {% if today in tri_month.second_month %}
    <a title="{% trans "View" %} {{ today|date:"DATE_FORMAT"}}"
      href="{% url day-calendar calendar.slug today.year today.get_month.abbr today.number %}">
      {% trans "Day" %}
    </a>
    {% else %}
    <a title="{% trans "View" %} {{ tri_month.second_month.days.0|date:"jS"}} {{ tri_month.second_month.name }}, {{ tri_month.second_month.get_year.number }}"
      href="{% url day-calendar calendar.slug tri_month.second_month.get_year.number tri_month.second_month.abbr 1 %}">
      {% trans "Day" %}
    </a>
    {% endif %}
  </li>
  <li>
    {% if today in tri_month.second_month %}
    <a title="{% trans "View" %} {{ today.get_week.start }} - {{ today.get_week.finish }}"
      href="{% url week-calendar calendar.slug today.year today.get_week.number %}">
      {% trans "Week" %}
    </a>
    {% else %}
    <a title="{% trans "View" %} {% trans "first week of" %} {{ tri_month.second_month.name }}"
      href="{% url week-calendar calendar.slug tri_month.second_month.get_year.number tri_month.second_month.weeks.0.number %}">
      {% trans "Week" %}
    </a>
    {% endif %}
  </li>
  <li>
    <a title="{% trans "View" %} {{ tri_month.second_month.name }}"
      href="{% url month-calendar calendar.slug tri_month.second_month.year tri_month.second_month.abbr %}">
      {% trans "Month" %}
    </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ tri_month.year }}"
      href="{% url year-calendar calendar.slug tri_month.second_month.year %}">
      {% trans "Year" %}
    </a>
  </li>
  <li class="last">
    <a rel="{% if month.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
      {% url tri-month-calendar calendar.slug tri_month.third_month.year tri_month.third_month.abbr as next_url %}
      href="{{ next_url|persist_query_string }}"
      title="{% trans "Next Month" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}

{% block calendar %}
<div class="tablewrapper">
  <table id="tri-month-calendar" class="calendar">
    <tr>
      {% for month in tri_month %}
      <td class="month-cell">
        <a class="month name month{{ forloop.counter }}"
           href="{% url month-calendar calendar.slug month.year month.abbr %}">
          <span>{{ month.name }}</span>
        </a>
        <table class="tri-month-view month calendar small calendar-{{ forloop.counter }} {% cycle "" "alt" %}">
          {% include "calendar/includes/month_calendar.html" %}
        </table>
      </td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
