{% extends "calendar/calendar/base.html" %}
{% load calendartools_tags %}
{% load i18n %}
{% block title %}
  {{ week.first_day|date:"SHORT_DATE_FORMAT" }} &mdash;
  {{ week.last_day|date:"SHORT_DATE_FORMAT" }} -
  Weekly View - {{ block.super }}
{% endblock %}

{% block heading %}
<h3>{% trans "Weekly View" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block agenda_url %}
{% url week-agenda calendar.slug week.year week.number as agenda_url %}
{{ agenda_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block current_nav_url %}
{% url week-calendar calendar.slug today.year today.get_week.number as current_nav_url %}
{{ current_nav_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li class="first">
    {% url week-calendar calendar.slug week.previous.year week.previous.number as previous_url %}
    <a rel="{% if week.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       href="{{ previous_url|persist_query_string|delete_query_string:"page" }}"
       title="{% trans "Previous week" %}"><span>&larr;
    </a>
  </li>
  <li>
    {% if today in week %}
    {% url day-calendar calendar.slug today.year today.get_month.abbr today.number as day_url %}
    <a title="{% trans "View" %} {{ today|date:"DATE_FORMAT"}}"
       href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Day" %}
    </a>
    {% else %}
    {% url day-calendar calendar.slug week.year week.get_month.abbr week.start.day as day_url %}
    <a title="{% trans "View" %} {{ week|date:"DATE_FORMAT"}}"
       href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Day" %}
    </a>
    {% endif %}
  </li>
  <li>
    {% if today in week %}
    {% url week-calendar calendar.slug today.year today.get_week.number as week_url %}
    <a class="active" title="{% trans "View" %} {{ today.get_week.start }} - {{ today.get_week.finish }}"
       href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Week" %}
    </a>
    {% else %}
    {% url week-calendar calendar.slug week.get_year.number week.number as week_url %}
    <a class="active" title="{% trans "View" %} {{ week.start }}"
       href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Week" %}
    </a>
    {% endif %}
  </li>
  <li>
    {% url month-calendar calendar.slug week.year week.get_month.abbr as month_url %}
    <a title="{% trans "View" %} {{ week.get_month.name }}"
       href="{{ month_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Month" %}
    </a>
  </li>
  <li>
    {% url year-calendar calendar.slug week.year as year_url %}
    <a title="{% trans "View" %} {{ week.year }}"
       href="{{ year_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Year" %}
    </a>
  </li>
  <li class="last">
    {% url week-calendar calendar.slug week.next.year week.next.number as next_url %}
    <a rel="{% if week.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
       href="{{ next_url|persist_query_string|delete_query_string:"page" }}"
       title="{% trans "Next week" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}

{% block calendar %}
<div class="tablewrapper">
  <table class="week calendar">
    <caption>
      <span class="week start">{{ week.start|date:"DATE_FORMAT" }}</span>
      -
      <span class="week finish">{{ week.finish|date:"DATE_FORMAT" }}</span>
    </caption>

    <colgroup>
      <col class="times" />
      {% for day in week.days %}
      <col class="{{ day.name|notrans|slugify }}{% cycle " alt" "" %} {{ day|time_relative_to_today }}" />
      {% endfor %}
    </colgroup>

    <thead>
      <tr class="daysofweek">
        <th>&nbsp;</th>
        {% for day in week.days %}
        <th{% if day == today %} class="today"{% endif %}>
          <a href="{% url day-calendar calendar.slug day.year day.get_month.abbr day.number %}">
            {{ day.name }} {{ day|date:"jS" }}
          </a>
        </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
        {% for row in week.calendar_display %}
        <tr class="{% cycle "" "alt" %}">
          {% for cell in row %}
          {% if forloop.first %}
          <td class="week day time">{{ cell|time:"TIME_FORMAT" }}</td>
          {% endif %}
          {% if cell.occurrences %}
          <td class="period-cell busy {{ cell|time_relative_to_today }}{% if now in cell %} now{% endif %}">
          {% else %}
          <td class="period-cell free {{ cell|time_relative_to_today }}{% if now in cell %} now{% endif %}">
          {% endif %}
            <div class="period-wrapper">
              {% if cell.occurrences %}
              <ul class="occurrences">
                {% for o in cell.occurrences %}
                <li class="period vevent {{ o.status_slug }}">
                  <a class="summary url" href="{{ o.get_absolute_url }}">
                    <span class="name">{{ o.event.name }}</span>
                  </a>
                  <span class="start time">
                    <abbr class="dtstart" title="{{ o.start|date:"c" }}">
                      {{ o.start|date:"TIME_FORMAT" }}
                    </abbr>
                  </span>
                  <em> - </em>
                  <span class="finish time">
                    <abbr class="dtend" title="{{ o.finish|date:"c" }}">
                      {{ o.finish|date:"TIME_FORMAT" }}
                    </abbr>
                  </span>
                </li><!-- end .vevent -->
                {% endfor %}
              </ul>
            </div><!-- end .period-wrapper -->
            {% endif %}
          </td><!-- end .period-cell -->
          {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
