{% extends "calendar/calendar/base.html" %}
{% load calendartools_tags %}
{% load i18n %}
{% block title %}
  {{ week.first_day|date:"SHORT_DATE_FORMAT" }} &mdash;
  {{ week.last_day|date:"SHORT_DATE_FORMAT" }} -
  Weekly View - {{ block.super }}
{% endblock %}

{% block heading %}
<h3>{% trans "Weekly View" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block agenda_url %}
{% url week-agenda calendar.slug week.year week.number as agenda_url %}
{{ agenda_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block current_nav_url %}
{% url week-calendar calendar.slug today.year today.get_week.number as current_nav_url %}
{{ current_nav_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block calendar_nav %}
{% include "calendar/includes/navigation/week.html" with view_type="calendar" %}
{% endblock %}

{% block calendar %}
<div class="tablewrapper">
  <table class="week calendar">
    <caption>
      <span class="week start">{{ week.start|date:"DATE_FORMAT" }}</span>
      -
      <span class="week finish">{{ week.finish|date:"DATE_FORMAT" }}</span>
    </caption>

    <colgroup>
      <col class="times" />
      {% for day in week.days %}
      <col class="{{ day.name|notrans|slugify }}{% cycle " alt" "" %} {{ day|time_relative_to_today }}" />
      {% endfor %}
    </colgroup>

    <thead>
      <tr class="daysofweek">
        <th>&nbsp;</th>
        {% for day in week.days %}
        <th{% if day == today %} class="today"{% endif %}>
          <a href="{% url day-calendar calendar.slug day.year day.get_month.abbr day.number %}">
            {{ day.name }} {{ day|date:"jS" }}
          </a>
        </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
        {% for row in week.calendar_display %}
        <tr class="{% cycle "" "alt" %}">
          {% for cell in row %}
          {% if forloop.first %}
          <td class="week day time">{{ cell|time:"TIME_FORMAT" }}</td>
          {% endif %}
          {% if cell.occurrences %}
          <td class="period-cell busy {{ cell|time_relative_to_today }}{% if now in cell %} now{% endif %}">
          {% else %}
          <td class="period-cell free {{ cell|time_relative_to_today }}{% if now in cell %} now{% endif %}">
          {% endif %}
            <div class="period-wrapper">
              {% block occurrences %}
              {% include "calendar/includes/occurrences/list.html" with occurrences=cell.occurrences %}
              {% endblock occurrences %}
            </div><!-- end .period-wrapper -->
          </td><!-- end .period-cell -->
          {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
