{% extends "calendar/calendar/base.html" %}
{% load i18n %}
{% load calendartools_tags %}
{% block title %}Yearly View - {{ calendar.name }} Calendar - {{ block.super }}{% endblock %}
{% block extra_head %}
  <style type="text/css" media="screen">
    ul#calendar-nav li {display: inline; list-style: none;}
    td.day.name {width: 120px;}
    td.month-cell {vertical-align: top;}
    table#year-calendar {text-align: center;}
  </style>
{% endblock %}

{% block heading %}
<h3>{% trans "Yearly View" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

<p class="toggle-agenda">{% trans "Switch to" %}
<a href="{% block agenda_url %}{% url year-agenda calendar.slug year.number %}{% endblock %}">
    {% trans "agenda view" %}
  </a>.
</p>

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li>
    <a rel="{% if year.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       href="{% url year-calendar calendar.slug year.previous.number %}"
       title="{% trans "Previous Year" %}">&larr;
    </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ year }}"
       href="{% url year-calendar calendar.slug year.number %}">
      {{ year|date:"Y" }}
    </a>
  </li>
  <li>
    <a rel="{% if year.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
       href="{% url year-calendar calendar.slug year.next.number %}"
       title="{% trans "Next Year" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}

{% block current_nav %}
<ul class="current nav">
  <li><a href="{% url month-calendar calendar.slug today.year today|date:"b" %}">
    Current Month Calendar
  </a></li>
  <li><a href="{% url year-calendar calendar.slug today.year %}">
    Current Year Calendar
  </a></li>
</ul>
{% endblock %}

{% block calendar %}
<div class="tablewrapper">
  <table id="year-calendar" class="year calendar">
    <tr>
      {% for month in year.months %}
      <td class="month-cell">
        <a class="month name" href="{% url month-calendar calendar.slug month.year month.abbr %}">
          <span>{{ month.name }}</span>
        </a>

        <table class="month calendar calendar-{{ forloop.counter }} {% cycle "" "alt" %}">
          {% include "calendar/includes/month_calendar.html" %}
        </table>
      </td>
      {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 %}
    </tr>
    <tr>
    {% endif %}
    {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
