div.tablewrapper {text-align: center;}
table#year-calendar {text-align: center; margin: 0 auto;}

/* Calendar Chrome */
ul#calendar-nav li, ul.filters li/*, ul.current.nav li*/
{display: inline; list-style: none;}
ul.filters a.on {color: red;}

/* Microformats */
.vevent abbr {border:0} /* No borders on microformat markup */
a.summary.url {display: block;}

/* Year Calendar */
table.calendar {
    border-collapse: separate; border-spacing: 2px; border:2px solid #f0f0f0;
}
table.calendar .daysofweek {height: 20px; text-align: center}

ul.occurrences {margin: 0; padding: 5px;}
ul.occurrences li {display: inline; list-style: none; text-indent: 0; font-size: 14px;}

table.calendar td {height: 100px; min-width: 100px; width: 14%}
table.calendar td.week.day,
table.calendar td.week-number {width: 2%;}

table.calendar.small td {height: 20px; min-width: 40px; width: 40px;}
table.calendar.small a.day-number {height: 20px; width: 40px; display: block;}
table.calendar.small a.day-number:hover {background-color: #FF9ECE;}
table.calendar.small td.week-number {width: 20px;}

table.calendar th.day.name,
table.calendar th.day.abbr {font-size: 14px;}
table.calendar .week-number a {font-size: 16px}
table.calendar.small .week-number a {font-size: 11px} /*override*/

table.calendar td.month-cell {vertical-align: top; padding: 5px 10px;}
table.calendar td.day-cell {vertical-align: top;}
table.calendar td.day-cell .header {display: block; position: relative; padding: 8px;}
table.calendar.small td.day-cell .header {padding: 0px;} /*override*/
table.calendar a.day-number span {font-size: 16px; font-weight: bold; position: absolute; top: 0; right: 5px;}
table.calendar.small a.day-number span {font-size: 12px; right: 2px;} /*override*/

table#tri-month-calendar td.month-cell {vertical-align: bottom;}

table.calendar.small {margin: auto;}

/* Day Calendar */
table.day.calendar tr {vertical-align: top; }
table.day.column td {vertical-align: middle; height: 100%;}

/* Colour */
table.calendar .week-number a {color: red;}
table.calendar td.noday {background-color: #eef;}
table.calendar td.free {background-color: #c5dbff;}
table.calendar td.busy {background-color: #ffcece;}

table.day.column tr.day.row {background: #EEE;}
table.day.column tr.day.row.alt {background: #FFF;}

.period-wrapper {margin: 0; width: 100%; height: 100%}
table.calendar td.future .period-wrapper {background: rgba(80, 80, 80, 0.1)}
table.calendar td.today .period-wrapper {background: rgba(255, 158, 206, 0.6)}
/*table.calendar col.today */
table.calendar td.now .period-wrapper {background: rgba(255, 158, 206, 0.9); border: 1px solid #FF0CDF;}

/* Sensible font-family */
/*
body {font-family: "Lucida Grande","DejaVu Sans",
                   "Bitstream Vera Sans",Verdana,Arial,sans-serif;}
*/
