{% load url from future %}
{% load calendartools_tags %}
{% load i18n %}

<ul id="calendar-nav" class="nav">
  {% url "tri-month-"|add:view_type calendar.slug tri_month.first_month.year tri_month.first_month.abbr as previous_url %}
  <li class="first">
    <a rel="{% if tri_month.first_month < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       href="{{ previous_url|persist_query_string|delete_query_string:"page" }}"
       title="{% trans "Previous Month" %}">&larr;
    </a>
  </li>
  <li>
    {% if today in tri_month.second_month %}
    {% url "day-"|add:view_type calendar.slug today.year today.get_month.abbr today.number as day_url %}
    <a title="{% trans "View" %} {{ today|date:"DATE_FORMAT"}}"
       href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Day" %}
    </a>
    {% else %}
    {% url "day-"|add:view_type calendar.slug tri_month.second_month.get_year.number tri_month.second_month.abbr 1 as day_url %}
    <a title="{% trans "View" %} {{ tri_month.second_month.days.0|date:"jS"}} {{ tri_month.second_month.name }}, {{ tri_month.second_month.get_year.number }}"
       href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Day" %}
    </a>
    {% endif %}
  </li>
  <li>
    {% if today in tri_month.second_month %}
    {% url "week-"|add:view_type calendar.slug today.year today.get_week.number as week_url %}
    <a title="{% trans "View" %} {{ today.get_week.start }} - {{ today.get_week.finish }}"
       href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Week" %}
    </a>
    {% else %}
    {% url "week-"|add:view_type calendar.slug tri_month.second_month.get_year.number tri_month.second_month.weeks.0.number as week_url %}
    <a title="{% trans "View" %} {% trans "first week of" %} {{ tri_month.second_month.name }}"
       href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Week" %}
    </a>
    {% endif %}
  </li>
  {% url "month-"|add:view_type calendar.slug tri_month.second_month.year tri_month.second_month.abbr as month_url %}
  <li>
    <a title="{% trans "View" %} {{ tri_month.second_month.name }}"
       href="{{ month_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Month" %}
    </a>
  </li>
  {% url "year-"|add:view_type calendar.slug tri_month.second_month.year as year_url %}
  <li>
    <a title="{% trans "View" %} {{ tri_month.year }}"
       href="{{ year_url|persist_query_string|delete_query_string:"page" }}">
       {% trans "Year" %}
    </a>
  </li>
  {% url "tri-month-"|add:view_type calendar.slug tri_month.third_month.year tri_month.third_month.abbr as next_url %}
  <li class="last">
    <a rel="{% if month.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
       href="{{ next_url|persist_query_string|delete_query_string:"page" }}"
       title="{% trans "Next Month" %}">&rarr;
    </a>
  </li>
</ul>
