{% load calendartools_tags %}

      {% if day.occurrences %}
        <tr class="day-divider {{ day.name|notrans|lower }} vevent">
          <th class="start date" rowspan="{{ day.occurrences|length }}">
            <a href="{% url day-agenda calendar.slug day.year day.get_month.abbr day.number %}">
              {{ day|date:"DATE_FORMAT" }}
            </a>
          </th>
        {% for o in day.occurrences %}
          <td class="start time">
            <abbr class="dtstart" title="{{ o.start|date:"c" }}">
              {{ o.start|date:"TIME_FORMAT" }}
            </abbr>
          </td>
          <td class="finish time">
            <abbr class="dtend" title="{{ o.finish|date:"c" }}">
              {{ o.finish|date:"TIME_FORMAT" }}
            </abbr>
          </td>
          {% include "calendar/includes/microformat_summary_cell.html" %}
        </tr>
          {% if not forloop.last %}
        <tr class="{{ day.name|notrans|lower }} vevent">
          {% endif %}
        {% endfor %}
      {% endif %}
