
{% load i18n %}
{% load calendartools_tags %}

{% with request.get_full_path as here %}
{% with here|get_query_string:"period" as period %}
<ul class="filters">
  <li>
    <a class="{% if "past" in period %}on{% endif %}"
       href="{{ here|set_query_string:"period,past" }}">
       {% trans "past" %}
    </a>
  </li>
  <li>
    <a class="{% if "future" in period %}on{% endif %}"
       href="{{ here|set_query_string:"period,future" }}">
      {% trans "future" %}
    </a>
  </li>
  <li>
    <a class="{% if "today" in period %}on{% endif %}"
        href="{{ here|set_query_string:"period,today" }}">
       {% trans "today" %}
    </a>
  </li>
  <li>
    <a class="{% if not period %}on{% endif %}"
        href="{{ here|delete_query_string:"period" }}">
        {% trans "all" %}
    </a>
  </li>
</ul>

<form class="timezone" method="get" action="">
  <fieldset>
    {% for field in timezone_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Change Timezone" />
    </table>
  </fieldset>
</form>
{% endwith %}
{% endwith %}
