{% load url from future %}
{% load calendartools_tags %}

          <caption>
            <span class="month start">{{ month.start|date:"DATE_FORMAT" }}</span>
            -
            <span class="month finish">{{ month.finish|date:"DATE_FORMAT" }}</span>
          </caption>

          <colgroup>
            <col class="week-number" />
            {% for dayname in month.day_names %}
            <col class="{{ dayname|slugify }}{% cycle " alt" "" %}" />
            {% endfor %}
          </colgroup>

          <thead>
            <tr class="daysofweek">
              <th class="week-number">&nbsp;</th>
              {% if size == "small" %}
              {% for abbr in month.day_names_abbr %}
              <th class="day abbr {{ abbr|notrans|slugify }}">{{ abbr }}</th>
              {% endfor %}
              {% else %}
              {% for dayname in month.day_names %}
              <th class="day name {{ dayname|notrans|slugify }}">{{ dayname }}</th>
              {% endfor %}
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for week in month.weeks %}
            <tr class="{% cycle "" "alt" %}">
              <td class="week-number">
                {% url "week-calendar" calendar.slug week.year week.number as week_url %}
                <a href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
                  {{week.start|date:"W"}}
                </a>
              </td>
              {% for day in week.days %}
              {% if day.month != month.number %}
              <td class="day-cell noday">&nbsp;</td><!-- end .day-cell -->
              {% else %}

              {% if day.occurrences %}
              <td class="day-cell busy {{ day|time_relative_to_today }}">
              {% else %}
              <td class="day-cell free {{ day|time_relative_to_today }}">
              {% endif %}

                <div class="period-wrapper">
                  <div class="header">
                    {% url "day-calendar" calendar.slug day.year day.get_month.abbr day.number as day_url %}
                    <a class="day-number" href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
                      <span >{{ day.number }}</span>
                    </a>
                  </div>

                  {% if size != "small" and day.occurrences %}
                  {% block occurrences %}
                  {% include "calendar/includes/occurrences/list.html" with occurrences=day.occurrences %}
                  {% endblock occurrences %}
                  {% endif %}
                </div><!-- end .period-wrapper -->
              </td><!-- end .day-cell -->
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
