{% load calendartools_tags %}

          <caption>
            <span class="month start">{{ month.start|date:"DATE_FORMAT" }}</span>
            -
            <span class="month finish">{{ month.finish|date:"DATE_FORMAT" }}</span>
          </caption>

          <colgroup>
            <col class="week-number" />
            {% for dayname in month.day_names %}
            <col class="{{ dayname|slugify }}{% cycle " alt" "" %}" />
            {% endfor %}
          </colgroup>

          <thead>
            <tr class="daysofweek">
              <th class="week-number">&nbsp;</th>
              {% if size == "small" %}
              {% for abbr in month.day_names_abbr %}
              <th class="day abbr {{ abbr|notrans|slugify }}">{{ abbr }}</th>
              {% endfor %}
              {% else %}
              {% for dayname in month.day_names %}
              <th class="day name {{ dayname|notrans|slugify }}">{{ dayname }}</th>
              {% endfor %}
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for week in month.weeks %}
            <tr class="{% cycle "" "alt" %}">
              <td class="week-number">
                <a href="{% url week-calendar calendar.slug week.year week.number %}">
                  {{week.start|date:"W"}}
                </a>
              </td>
              {% for day in week.days %}
              {% if day.month != month.number %}
              <td class="day-cell noday">&nbsp;</td><!-- end .day-cell -->
              {% else %}

              {% if day.occurrences %}
              <td class="day-cell busy {{ day|time_relative_to_today }}">
              {% else %}
              <td class="day-cell free {{ day|time_relative_to_today }}">
              {% endif %}

                <div class="period-wrapper">
                  <div class="header">
                    <a class="day-number" href="{% url day-calendar calendar.slug day.year day.get_month.abbr day.number %}">
                      <span >{{ day.number }}</span>
                    </a>
                  </div>

                  {% if size != "small" and day.occurrences %}
                  <ul class="occurrences">
                    {% for o in day.occurrences %}
                    <li class="day vevent {{ o.status_slug }}">
                      <a class="summary url" href="{{ o.get_absolute_url }}">
                        <span class="name">{{ o.event.name }}</span>
                      </a>
                      <p class="times">
                        <span class="start time">
                          <abbr class="dtstart" title="{{ o.start|date:"c" }}">
                            {{ o.start|date:"TIME_FORMAT" }}
                          </abbr>
                        </span>
                        <em> - </em>
                        <span class="finish time">
                          <abbr class="dtend" title="{{ o.finish|date:"c" }}">
                            {{ o.finish|date:"TIME_FORMAT" }}
                          </abbr>
                        </span>
                      </p>
                    </li><!-- end .vevent -->
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div><!-- end .period-wrapper -->
              </td><!-- end .day-cell -->
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
