{% extends "calendar/base.html" %}
{% load i18n %}
{% load calendartools_tags %}
{% block title %}{{ calendar.name }} Calendar - {{ block.super }}{% endblock %}

{% block primary %}
{% block heading %}{% endblock %}

<p class="toggle-calendar">{% trans "Switch to" %}
<a href="{% block calendar_url %}{% endblock %}">
    {% trans "calendar view" %}
  </a>.
</p>

{% block calendar_nav %}
{% endblock %}

{% block current_nav %}
  <a class="current-button agenda"
    href="{% block current_nav_url %}{% endblock %}">
    {% trans "Current" %}
  </a>
{% endblock %}

{% block filters %}
  {% include "calendar/includes/filters.html" %}
{% endblock %}

{% block agenda %}
  {% block follow_utils %}
  <ul class="follow utils">
    <li>
    <a class="feed" href="http://feeds.technorati.com/events/{{ current_site.domain }}{{ request.get_full_path }}">
        Add Events to Calendar
      </a>
    </li>
    <li>
    <a class="subscribe" href="webcal://feeds.technorati.com/events/{{ current_site.domain }}{{ request.get_full_path }}">
        Subscribe to Events
      </a>
    </li>
  </ul>
  {% endblock %}
{% endblock %}

{% include "calendar/includes/pagination.html" %}
{% endblock %}
