{% extends "base.html" %}
{% load i18n %}
{% load calendartools_tags %}
{% block extra_head %}
  <style type="text/css" media="screen">
    ul#calendar-nav li, ul.filters li {display: inline; list-style: none;}
    .vevent abbr {border:0} /* No borders on microformat markup */
  </style>
{% endblock %}

{% block primary %}
{% block heading %}
{% endblock %}

<p class="toggle-calendar">{% trans "Switch to" %}
<a href="{% block calendar_url %}{% endblock %}">
    {% trans "calendar view" %}
  </a>.
</p>

{% block calendar_nav %}
{% endblock %}

{% block current_nav %}
<ul class="current nav">
  <li><a href="{% url month-agenda calendar.slug today.year today|date:"b" %}">
    {% trans "Current Month Agenda" %}
  </a></li>
  <li><a href="{% url year-agenda calendar.slug today.year %}">
    {% trans "Current Year Agenda" %}
  </a></li>
</ul>
{% endblock %}

{% block filters %}
{% include "calendar/includes/filters.html" %}
{% endblock %}

{% block agenda %}

{% block follow_utils %}
<ul class="follow utils">
  <li>
  <a class="feed" href="http://feeds.technorati.com/events/{{ current_site.domain }}{{ request.get_full_path }}">
      Add Events to Calendar
    </a>
  </li>
  <li>
  <a class="subscribe" href="webcal://feeds.technorati.com/events/{{ current_site.domain }}{{ request.get_full_path }}">
      Subscribe to Events
    </a>
  </li>
</ul>
{% endblock %}
{% endblock %}

{% endblock %}
