{% extends "calendar/agenda/base.html" %}
{% load calendartools_tags %}
{% load i18n %}
{% block title %}
  {{ day|date:"SHORT_DATE_FORMAT" }} - Daily Agenda - {{ block.super }}
{% endblock %}

{% block heading %}
<h3>{% trans "Daily Agenda" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block calendar_url %}
{% url day-calendar calendar.slug day.year day.get_month.abbr day.number as calendar_url %}
{{ calendar_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block current_nav_url %}
{% url day-agenda calendar.slug today.year today.get_month.abbr today.number as current_nav_url %}
{{ current_nav_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block calendar_nav %}
{% include "calendar/includes/navigation/day.html" with view_type="agenda" %}
{% endblock %}

{% block agenda %}
{% if not day.occurrences %}
  <p>No events occurring in {{ day }}</p>
{% else %}

{% block follow_utils %}{{ block.super }}{% endblock %}

<table class="day agenda">
  <caption>
    <span class="day start">{{ day.start|date:"DATE_FORMAT" }}</span>
    <em> - </em>
    <span class="day finish">{{ day.finish|date:"DATE_FORMAT" }}</span>
  </caption>

  <colgroup>
    <col class="start alt" />
    <col class="end" />
    <col class="event" />
  </colgroup>

  <thead>
    <tr>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
      <th>{% trans "Event" %}</th>
    </tr>
  </thead>

  <tbody>
    {% include "calendar/includes/day_agenda.html" %}
  </tbody>
</table>
{% endif %}
{% endblock %}
