{% extends "calendar/agenda/base.html" %}
{% load calendartools_tags %}
{% load i18n %}
{% block title %}
  {{ month.name }} {{ month.year }} - Monthly Agenda - {{ block.super }}
{% endblock %}

{% block heading %}
<h3>{% trans "Monthly Agenda" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block calendar_url %}{% url month-calendar calendar.slug month.year month.abbr %}{% endblock %}
{% block current_nav_url %}{% url month-agenda calendar.slug today.year today.get_month.abbr %}{% endblock %}

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li class="first">
    {% url month-agenda calendar.slug month.previous.year month.previous.abbr as previous_url %}
    <a rel="{% if month.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
      href="{{ previous_url|persist_query_string|delete_query_string:"page" }}"
      title="{% trans "Previous Month" %}">&larr;
    </a>
  </li>
  <li>
    {% if today in month %}
    {% url day-agenda calendar.slug today.year today.get_month.abbr today.number as day_url %}
    <a title="{% trans "View" %} {{ today|date:"DATE_FORMAT"}}"
      href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
      {% trans "Day" %}
    </a>
    {% else %}
    {% url day-agenda calendar.slug month.get_year.number month.abbr 1 as day_url %}
    <a title="{% trans "View" %} {{ month.days.0|date:"jS"}} {{ month.name }}, {{ month.get_year.number }}"
      href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
      {% trans "Day" %}
    </a>
    {% endif %}
  </li>
  <li>
    {% if today in month %}
    {% url week-agenda calendar.slug today.year today.get_week.number as week_url %}
    <a title="{% trans "View" %} {{ today.get_week.start }} - {{ today.get_week.finish }}"
      href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
      {% trans "Week" %}
    </a>
    {% else %}
    {% url week-agenda calendar.slug month.get_year.number month.weeks.0.number as month_url %}
    <a title="{% trans "View" %} {% trans "first week of" %} {{ month.name }}"
      href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
      {% trans "Week" %}
    </a>
    {% endif %}
  </li>
  <li>
    {% url month-agenda calendar.slug month.year month.abbr as month_url %}
    <a class="active" title="{% trans "View" %} {{ month.name }}"
      href="{{ month_url|persist_query_string|delete_query_string:"page" }}">
      {% trans "Month" %}
    </a>
  </li>
  <li>
    {% url year-agenda calendar.slug month.year as year_url %}
    <a title="{% trans "View" %} {{ month.year }}"
      href="{{ year_url|persist_query_string|delete_query_string:"page" }}">
      {% trans "Year" %}
    </a>
  </li>
  <li class="last">
    {% url month-agenda calendar.slug month.next.year month.next.abbr as previous_url %}
    <a rel="{% if month.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
      href="{{ next_url|persist_query_string|delete_query_string:"page" }}"
      title="{% trans "Next Month" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}


{% block agenda %}
{% if not month.occurrences %}
  <p>No events occurring in {{ month }}</p>
{% else %}

{% block follow_utils %}{{ block.super }}{% endblock %}

<table class="month agenda">
  <caption>
    <span class="month start">{{ month.start|date:"DATE_FORMAT" }}</span>
    <em> - </em>
    <span class="month finish">{{ month.finish|date:"DATE_FORMAT" }}</span>
  </caption>

  <colgroup>
    <col class="day" />
    <col class="title alt" />
    <col class="start" />
    <col class="end alt" />
  </colgroup>

  <thead>
    <tr>
      <th>{% trans "Day" %}</th>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
    </tr>
  </thead>

  <tbody>
    {% for day in month.days %}
    {% include "calendar/includes/day_agenda.html" %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
