{% extends "calendar/agenda/year.html" %}
{% load calendartools_tags %}
{% load i18n %}
{% block title %}Monthly Agenda - {{ calendar.name }} Calendar - {{ block.super }}{% endblock %}

{% block heading %}
<h3>{% trans "Monthly Agenda" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block calendar_url %}{% url month-calendar calendar.slug month.year month.abbr %}{% endblock %}

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li>
    <a rel="{% if month.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       href="{% url month-agenda calendar.slug month.previous.year month.previous.abbr %}"
       title="{% trans "Last Month" %}">&larr;
    </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ month.name }}"
       href="{% url month-agenda calendar.slug month.year month.abbr %}">
       {{ month|date:"F" }}
     </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ month.year }}"
       href="{% url year-agenda calendar.slug month.year %}">
       {{ month|date:"Y" }}
    </a>
  </li>
  <li>
    <a rel="{% if month.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
       href="{% url month-agenda calendar.slug month.next.year month.next.abbr %}"
       title="{% trans "Next Month" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}


{% block agenda %}
{% if not month.occurrences %}
  <p>No events occurring in {{ month }}</p>
{% else %}

{% block follow_utils %}{{ block.super }}{% endblock %}

<table class="month-agenda">
  <caption>
    <span class="month start">{{ month.start|date:"DATE_FORMAT" }}</span>
    -
    <span class="month finish">{{ month.finish|date:"DATE_FORMAT" }}</span>
  </caption>

  <colgroup>
    <col class="day" />
    <col class="title alt" />
    <col class="start" />
    <col class="end alt" />
  </colgroup>

  <thead>
    <tr>
      <th>{% trans "Day" %}</th>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
    </tr>
  </thead>

  <tbody>
    {% for day in month.days %}
      {% if day.occurrences %}
        <tr class="day-divider {{ day.abbr|notrans }} vevent">
          <th class="start date" rowspan="{{ day.occurrences|length }}">
            <a href="{% url day-agenda calendar.slug day.year day.get_month.abbr day.number %}">
              {{ day|date:"DATE_FORMAT" }}
            </a>
          </th>
        {% for o in day.occurrences %}
          <td class="summary">
            <a class="{{ o.status_slug }} summary url"
               href="{{ o.get_absolute_url }}">
               <span class="name">{{ o.name }}</span>
            </a>
          </td>
          <td class="start time">
            <abbr class="dtstart" title="{{ o.start|date:"c" }}">
              {{ o.start|date:"TIME_FORMAT" }}
            </abbr>
          </td>
          <td class="finish time">
            <abbr class="dtend" title="{{ o.finish|date:"c" }}">
              {{ o.finish|date:"TIME_FORMAT" }}
            </abbr>
          </td>
        </tr>
          {% if not forloop.last %}
        <tr class="{{ day.abbr|notrans }} vevent">
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
