{% extends "calendar/agenda/base.html" %}
{% load calendartools_tags %}
{% load i18n %}
{% block title %}Tri-Monthly Agenda - {{ calendar.name }} Calendar - {{ block.super }}{% endblock %}

{% block heading %}
<h3>{% trans "Tri-Monthly Agenda" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block calendar_url %}{% url tri-month-calendar calendar.slug tri_month.second_month.year tri_month.second_month.abbr %}{% endblock %}
{% block current_nav_url %}{% url tri-month-agenda calendar.slug today.year today.get_month.abbr %}{% endblock %}

{% block calendar_nav %}
<ul id="calendar-nav" class="nav">
  <li>
    <a rel="{% if tri_month.first_month < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
       href="{% url tri-month-agenda calendar.slug tri_month.first_month.year tri_month.first_month.abbr %}"
       title="{% trans "Previous 3 Months" %}">&larr;
    </a>
  </li>
  {% for month in tri_month %}
  <li>
    <a title="{% trans "View" %} {{ month.name }}"
       href="{% url tri-month-agenda calendar.slug month.year month.abbr %}">
       {{ month|date:"F" }}
     </a>
  </li>
  <li>
    <a title="{% trans "View" %} {{ month.year }}"
       href="{% url year-agenda calendar.slug month.year %}">
       {{ month|date:"Y" }}{% if not forloop.last %},&nbsp;{% endif %}
    </a>
  </li>
  {% endfor %}
  <li>
    <a rel="{% if tri_month.third_month > latest_occurrence %}nofollow{% else %}next{% endif %}"
       href="{% url tri-month-agenda calendar.slug tri_month.third_month.year tri_month.third_month.abbr %}"
       title="{% trans "Next 3 Months" %}">&rarr;
    </a>
  </li>
</ul>
{% endblock %}

{% block agenda %}
{% if not tri_month.occurrences %}
  <p>No events occurring in {{ tri_month.first_month }} - {{ tri_month.third_month }}</p>
{% else %}

{% block follow_utils %}{{ block.super }}{% endblock %}

<table class="tri-month-agenda">
  <caption>
    <span class="tri-month start">{{ tri_month.start|date:"DATE_FORMAT" }}</span>
    -
    <span class="tri-month finish">{{ tri_month.finish|date:"DATE_FORMAT" }}</span>
  </caption>

  <colgroup>
    <col class="month" />
    <col class="title alt" />
    <col class="day" />
    <col class="start alt" />
    <col class="end" />
  </colgroup>

  <thead>
    <tr>
      <th>{% trans "Month" %}</th>
      <th>{% trans "Day" %}</th>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
    </tr>
  </thead>

  <tbody>
    {% for month in tri_month.months %}
    {% include "calendar/includes/month_agenda.html" %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}

