{% extends "calendar/agenda/base.html" %}
{% load calendartools_tags %}
{% load i18n %}
{% block title %}
  {{ week.first_day|date:"SHORT_DATE_FORMAT" }} &mdash;
  {{ week.last_day|date:"SHORT_DATE_FORMAT" }} -
  Weekly Agenda - {{ block.super }}
{% endblock %}

{% block heading %}
<h3>{% trans "Weekly Agenda" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block calendar_url %}
{% url week-calendar calendar.slug week.year week.number as calendar_url %}
{{ calendar_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block current_nav_url %}
{% url week-calendar calendar.slug today.year today.get_week.number as current_nav_url %}
{{ current_nav_url|persist_query_string|delete_query_string:"page" }}
{% endblock %}

{% block calendar_nav %}
{% include "calendar/includes/navigation/week.html" with view_type="agenda" %}
{% endblock %}

{% block agenda %}
{% if not week.occurrences %}
  <p>No events occurring in {{ week }}</p>
{% else %}

{% block follow_utils %}{{ block.super }}{% endblock %}

<table class="week-agenda">
  <caption>
    <span class="week start">{{ week.start|date:"DATE_FORMAT" }}</span>
    <em> - </em>
    <span class="week finish">{{ week.finish|date:"DATE_FORMAT" }}</span>
  </caption>

  <colgroup>
    <col class="day" />
    <col class="title alt" />
    <col class="start" />
    <col class="end alt" />
  </colgroup>

  <thead>
    <tr>
      <th>{% trans "Day" %}</th>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
    </tr>
  </thead>

  <tbody>
    {% for day in week.days %}
    {% include "calendar/includes/day_agenda.html" %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
