{% extends "calendar/agenda/base.html" %}
{% load i18n %}
{% load calendartools_tags %}
{% block title %}{{ year.year }} - Yearly Agenda - {{ block.super }}{% endblock %}

{% block heading %}
<h3>{% trans "Yearly Agenda" %} - <span class="calendarname">{{ calendar.name }}</span> {% trans "Calendar" %}</h3>
{% endblock %}

{% block calendar_url %}{% url year-calendar calendar.slug year.number %}{% endblock %}
{% block current_nav_url %}{% url year-agenda calendar.slug today.year %}{% endblock %}

{% block calendar_nav %}
<div id="calendar-nav" class="nav">
  <table>
    <tr>
      <td class="first">
        {% url year-agenda calendar.slug year.previous.number as previous_url %} 
        <a rel="{% if year.previous < earliest_occurrence %}nofollow{% else %}prev{% endif %}"
          href="{{ previous_url|persist_query_string|delete_query_string:"page" }}"
          title="{% trans "Previous Year" %}"><span>{% trans "Previous Year" %}</span>&larr;
        </a>
      </td>
      <td>
        {% if today in year %}
        <a title="{% trans "View" %} {{ today|date:"DATE_FORMAT"}}"
          {% url day-agenda calendar.slug today.year today.get_month.abbr today.number as day_url %}
          href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
          {% trans "Day" %}
        </a>
        {% else %}
        <a title="{% trans "View" %} {% trans "January, 1st" %}"
          {% url day-agenda calendar.slug year.number "jan" 1 as day_url %}
          href="{{ day_url|persist_query_string|delete_query_string:"page" }}">
          {% trans "Day" %}
        </a>
        {% endif %}
      </td>
      <td>
        {% if today in year %}
        {% url week-agenda calendar.slug today.year today.get_week.number as week_url %}
        <a title="{% trans "View" %} {{ today.get_week.start }} - {{ today.get_week.finish }}"
          href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
          {% trans "Week" %}
        </a>
        {% else %}
        {% url week-agenda calendar.slug year.number 1 as week_url %}
        <a title="{% trans "View" %} {% trans "First week of year" %}"
          href="{{ week_url|persist_query_string|delete_query_string:"page" }}">
          {% trans "Week" %}
        </a>
        {% endif %}
      </td>
      <td>
        {% if today in year %}
        {% url month-agenda calendar.slug today.year today.get_month.abbr as month_url %}
        <a title="{% trans "View" %} {{ today.get_month.name }}"
          href="{{ month_url|persist_query_string|delete_query_string:"page" }}">
          {% trans "Month" %}
        </a>
        {% else %}
        {% url month-agenda calendar.slug year.number "jan" as month_url %}
        <a title="{% trans "View" %} {% trans "January" %}"
          href="{{ month_url|persist_query_string|delete_query_string:"page" }}">
          {% trans "Month" %}
        </a>
        {% endif %}
      </td>
      <td>
        {% url year-agenda calendar.slug year.number as year_url %}
        <a class="active" title="{% trans "View" %} {{ year }}"
          href="{{ year_url|persist_query_string|delete_query_string:"page" }}">
          {% trans "Year" %}
        </a>
      </td>
      <td class="last">
        {% url year-agenda calendar.slug year.next.number as next_url %}
        <a rel="{% if year.next > latest_occurrence %}nofollow{% else %}next{% endif %}"
          href="{{ next_url|persist_query_string|delete_query_string:"page" }}"
          title="{% trans "Next Year" %}">&rarr;<span>{% trans "Next Year" %}</span>
        </a>
      </td>
    </tr>
  </table>
</div>
{% endblock %}

{% block agenda %}
{% if not year.occurrences %}
<p class="no-events">{% trans "No events occurring in" %} {{ year }}</p>
{% else %}

{% block follow_utils %}{{ block.super }}{% endblock %}

<table class="year-agenda">
  <caption>
    <span class="year start">{{ year.start|date:"DATE_FORMAT" }}</span>
    -
    <span class="year finish">{{ year.finish|date:"DATE_FORMAT" }}</span>
  </caption>

  <colgroup>
    <col class="month" />
    <col class="title alt" />
    <col class="day" />
    <col class="start alt" />
    <col class="end" />
  </colgroup>

  <thead>
    <tr>
      <th>{% trans "Month" %}</th>
      <th>{% trans "Day" %}</th>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Start" %}</th>
      <th>{% trans "End" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for month in year.months %}
    {% include "calendar/includes/month_agenda.html" %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
